---
import ModalSolidHeadless from './../components/ModalSolidHeadless'
---
<html lang="en-GB" dir="ltr">
  <head>
   <title>astro-solid-bug-reproduction</title>
  </head>
    <body>
       <h1>Hello world!</h1>
       <ModalSolidHeadless client:idle />  
    </body>
</html>